#stem {
    width: 100%;
    height: 100%;
    stroke: green;
    stroke-width: 4;
    fill: none;
  }
  
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
  