body {
    background-color: #373544;
    color: #fff;
}
.typed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.typed-content {
    font-size: 4rem;
    font-weight: 700;
}