*{
    --typed-content-size: 4rem;
    --typed-content-weight: 700;
}

body {
    background-color: #373544;
    color: #fff;
}
.typed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.typed-content {
    font-size: var(--typed-content-size);
    font-weight: var(--typed-content-weight);
}

.cursor{
    width: 2px;
    height: var(--typed-content-size);
    background-color: white;
}